h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 54px;
    margin: 0;
    padding: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 15px;
    flex-wrap: wrap;
}

a {
    color: #000000;
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
    float: left;
    margin: 15px;
    border-radius: 15px;
}

.active {
    background-color: #4c75af;
    color: #FFFFFF;
    border-radius: 15px;
    margin: 25px;
  }

a:hover {
    color: rgb(198, 170, 184) !important;
}

.nav-item {
    padding-left: 15px;
    justify-content: space-between;
}

#form {
    padding: 25px;
}

@media (max-width: 767px) {
    .navbar-brand {
        display: block;
        overflow: hidden;
    }
}